doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='msapplication-TileColor' content='#dbd9d9')
  meta(name='theme-color' content='#ffffff')
  link(rel='stylesheet' href='bootstrap/bootstrap-grid.css')
  link(rel='stylesheet' href='bootstrap/bootstrap-reboot.css')
  link(rel='stylesheet' href='bootstrap/bootstrap.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/dark-mode.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Josefin+Sans|Questrial&display=swap" rel="stylesheet')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='shortcut-icon' type='image/png' sizes='16x16' href='favicon/favicon.ico')
  link(rel='manifest' href='favicon/site.webmanifest')
  link(rel='mask-icon' href='favicon/safari-pinned-tab.svg' color='#dbd9d9')
  title UI & UX | YUAN HOU  
head


#loading
  .spinner-box
    .pulse-container
      .pulse-bubble.pulse-bubble-1
      .pulse-bubble.pulse-bubble-2
      .pulse-bubble.pulse-bubble-3


nav.navbar.navbar-expand-lg.navbar-light.fixed-top#nnav
  .container
    a.navbar-brand(href='https://yuanhhou.com')
      h4#title Yuan Hou

    .custom-control.custom-switch.sun.sticky-top
      label.switch(for='darkSwitch')
        input#darkSwitch.danger.custom-control-input(type='checkbox')
        span.slider.round
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='https://yuanhhou.com/ui&ux')
            h5 UI/UX 

        li.nav-item
          a.nav-link(href='https://yuanhhou.com/graphic&3d')
            h5 Graphic/3D 

        li.nav-item
          a.nav-link(href='https://yuanhhou.com/game&interaction')
            h5 Game/Interaction 

        li.nav-item
          a.nav-link(href='https://yuanhhou.com/video&sound')
            h5 Video/Sound 

        li.nav-item
          a.nav-link(href='https://yuanhhou.com/about')
            h5 About 
       

#completed
  .container-fluid.first
    a(href='https://yuanhhou.com/ui&ux/moovie')
      video#one(playsinline='playsinline' autoplay='1' muted='muted')
        source(src='img/one.mp4')
    
    .content
      a(href='https://yuanhhou.com/ui&ux/moovie')
        h1 Moovie - The movie booking application (2020)
        p Keywords: HCI; UX Evaluation(Co-Design, Technology Acceptance Model, System Usability Scale, Hick's Law, Fitts' law and Gestalt Theory); UI tool (Figma)

  .second
    a(href='https://www.figma.com/file/dZp1AtF11KVUpe4M5R7odc/Design-System?node-id=0%3A1' target="_blank" )
      video#four( playsinline='playsinline' autoplay='1' muted='muted')
        source(src='img/two.mp4')

    .content
      a(href='https://www.figma.com/file/dZp1AtF11KVUpe4M5R7odc/Design-System?node-id=0%3A1' target="_blank")
        h1 Design Practice on Figma (2021)
        p Keywords: Design System, Variants, Components, Icon System, 8pt Grid Guide, Design Handoff
    

  .third
    a(href='https://yuanhhou.com/ui&ux/research' )
      video#two(playsinline='playsinline' autoplay='1' muted='muted')
        source(src='img/three.mp4')
    .content
      a(href='https://yuanhhou.com/ui&ux/research' )
        h1 
          | User Research Paper: How to make the users believe that 
          | the displayed data on their wearable device are correlated to their activities (2020)
        p Keywords: HCI; Ethnography Research; Social Engagement
    

  .fourth
    a(href='https://yuanhhou.com/ui&ux/ecohub')
      video#three( playsinline='playsinline' autoplay='1' muted='muted')
        source(src='img/four.mp4')
    .content 
      a(href='https://yuanhhou.com/ui&ux/ecohub')
        h1 EcoHub (2019)
        p Keywords: Bootstrap; Jquery; UI Design
  hr 
  footer
    small &copy; 2021 Yuan Hou, All Rights Reserved


script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='js/index.js')
script(src='js/dark-mode-switch.min.js') 
script(src='js/isInViewport.js') 
script(src='bootstrap/bootstrap.bundle.js')

