* {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none; }
  * h4, * h5 {
    font-family: Josefin Sans; }
  * p {
    font-family: sans-serif; }

html, body {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  text-align: justify; }

.container-fluid {
  padding-top: 7vw;
  padding-bottom: 7vw; }

.embed-responsive {
  margin-top: 3vw;
  position: relative;
  left: 25%;
  width: 50%; }
  @media only screen and (max-width: 600px) {
    .embed-responsive {
      margin-top: 5vw;
      width: 100%;
      left: 0%; } }

.navbar {
  position: fixed;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #e5e5e5;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px; }
  .navbar li {
    padding: 5px; }

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: solid 1px black; }

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 3px;
  background-color: #272727;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

input.danger:checked + .slider {
  background-color: #9E00FF;
  border: solid 1px #e5e5e5; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px); }

.slider.round {
  border-radius: 100px;
  cursor: pointer;
  -webkit-box-shadow: 0.1vw 0.3vh 5vw #e5e5e5;
  box-shadow: 0.1vw 0.3vh 5vw #e5e5e5; }

.slider.round:before {
  border-radius: 50%; }

h4 {
  color: #272727;
  font-size: 1.5rem; }

#nnav h5 {
  color: #272727; }
  #nnav h5:hover {
    color: #9E00FF; }

.container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center; }

.custom-control.custom-switch.sun.sticky-top {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center; }

body {
  line-height: 1.8;
  background-color: #e5e5e5; }

img#typo {
  position: relative;
  width: 60%;
  margin-left: 20%;
  height: auto; }
  @media only screen and (max-width: 600px) {
    img#typo {
      width: 100%;
      margin-left: 0; } }

.first {
  padding: 0;
  margin: 0; }
  .first img {
    width: 100%;
    height: auto; }
    @media only screen and (max-width: 600px) {
      .first img {
        margin-top: 5rem; } }

.second {
  margin: 0;
  padding: 0; }
  .second .title {
    display: inline;
    color: #181134;
    font-family: Montserrat; }
  .second h3 {
    margin-top: 2%;
    font-size: 1.3rem;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 30px;
    font-family: Questrial;
    text-align: justify; }
    @media only screen and (max-width: 600px) {
      .second h3 {
        margin-top: 3vh;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 18px;
        line-height: 3.5vh; } }
  .second .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (max-width: 600px) {
      .second .box {
        margin-top: 3vw;
        margin-left: 3vw;
        display: inline-block; } }
  .second .section {
    display: inline-block;
    padding: 3vw; }
  .second .subtitle {
    font-size: 1.3rem;
    font-family: Questrial; }
    @media only screen and (max-width: 600px) {
      .second .subtitle {
        font-size: 20px; } }
  .second .des {
    color: #8e8e9a;
    font-size: 1.2rem;
    font-family: Questrial; }
    @media only screen and (max-width: 600px) {
      .second .des {
        font-size: 18px; } }

.third {
  background-color: #181134; }
  .third h1 {
    margin-top: 5%;
    position: relative;
    color: #FFA928;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Josefin sans;
    font-size: 2.5rem;
    line-height: 3.5vw; }
    @media only screen and (max-width: 600px) {
      .third h1 {
        margin-top: 50px;
        margin-left: 0%;
        margin-right: 0%;
        font-size: 25px;
        line-height: 40px; } }
  .third h3 {
    position: relative;
    margin-left: 20%;
    color: #E8513D;
    font-family: Montserrat;
    font-size: 2rem;
    line-height: 3.5vw; }
    .third h3 img {
      width: 2.8%; }
    @media only screen and (max-width: 600px) {
      .third h3 {
        line-height: 30px;
        margin-left: 1%;
        font-size: 20px; }
        .third h3 img {
          width: 8%; } }
  .third .row {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 11%;
    margin-right: 10%; }
    .third .row h3 {
      position: relative;
      color: #E8513D;
      font-family: Montserrat;
      font-size: 2rem;
      line-height: 3.5vw; }
      @media only screen and (max-width: 600px) {
        .third .row h3 {
          line-height: 30px;
          margin-left: 1%;
          font-size: 20px; } }
    .third .row h4 {
      margin-top: 0;
      text-align: left; }
    @media only screen and (max-width: 600px) {
      .third .row {
        margin-left: 0%;
        margin-right: 0%; } }
  .third h4 {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    color: #e5e5e5;
    font-family: Questrial;
    font-size: 1.3rem;
    line-height: 30px; }
    .third h4 .highlight {
      display: inline;
      color: #E8513D; }
    @media only screen and (max-width: 600px) {
      .third h4 {
        margin-top: 5vh;
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
        line-height: 3.5vh; } }
  .third li {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    color: #181134;
    font-family: Questrial;
    font-size: 1.3rem;
    line-height: 30px; }
    @media only screen and (max-width: 600px) {
      .third li {
        margin-top: 5vh;
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
        line-height: 3.5vh; } }
  .third img {
    position: relative;
    width: 100%;
    height: auto; }

.fourth {
  background-color: #e5e5e5; }
  .fourth #sub {
    margin-top: 5%; }
  .fourth #subp {
    margin-top: 0%;
    font-weight: 1000; }
  .fourth h3 {
    position: relative;
    margin-left: 20%;
    color: #181134;
    font-family: Montserrat;
    font-size: 2rem;
    line-height: 3.5vw; }
    .fourth h3 img {
      width: 2.8%; }
    @media only screen and (max-width: 600px) {
      .fourth h3 {
        line-height: 30px;
        margin-left: 1%;
        font-size: 20px; }
        .fourth h3 img {
          width: 8%; } }
  .fourth h1 {
    margin-top: 30;
    position: relative;
    margin-left: 20%;
    color: #181134;
    font-family: Montserrat;
    font-size: 1.5rem;
    line-height: 3.5vw; }
    @media only screen and (max-width: 600px) {
      .fourth h1 {
        line-height: 30px;
        margin-left: 1%;
        font-size: 18px; } }
  .fourth h4 {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    color: #272727;
    font-family: Questrial;
    font-size: 1.3rem;
    line-height: 30px; }
    @media only screen and (max-width: 600px) {
      .fourth h4 {
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
        line-height: 3.5vh; } }
  .fourth li {
    position: relative;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    color: #181134;
    font-family: Questrial;
    font-size: 1.3rem;
    line-height: 30px; }
    @media only screen and (max-width: 600px) {
      .fourth li {
        margin-top: 2%;
        font-size: 18px;
        margin-left: -5%;
        margin-right: 0;
        line-height: 3.5vh; } }
  .fourth img {
    position: relative;
    width: 100%;
    height: auto; }
  .fourth .row {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 10%; }
    @media only screen and (max-width: 600px) {
      .fourth .row {
        margin-left: 0%;
        margin-right: 0%; } }

.fifth {
  background-color: #272727; }
  .fifth h3 {
    position: relative;
    margin-left: 20%;
    color: #E8513D;
    font-family: Montserrat;
    font-size: 2rem;
    line-height: 3.5vw; }
    .fifth h3 img {
      width: 2.8%; }
    @media only screen and (max-width: 600px) {
      .fifth h3 {
        line-height: 30px;
        margin-left: 1%;
        font-size: 20px; }
        .fifth h3 img {
          width: 8%; } }
  .fifth .row {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 10%; }
    @media only screen and (max-width: 600px) {
      .fifth .row {
        margin-left: 0%;
        margin-right: 0%; } }
  .fifth h4 {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    color: #e5e5e5;
    font-family: Questrial;
    font-size: 1.3rem;
    line-height: 30px; }
    @media only screen and (max-width: 600px) {
      .fifth h4 {
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
        line-height: 3.5vh; } }
  .fifth li {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    color: #181134;
    font-family: Questrial;
    font-size: 1.3rem;
    line-height: 30px; }
    @media only screen and (max-width: 600px) {
      .fifth li {
        margin-top: 5vh;
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
        line-height: 3.5vh; } }
  .fifth img#ia {
    position: relative;
    width: 70%;
    margin-left: 15%;
    height: auto; }
    @media only screen and (max-width: 600px) {
      .fifth img#ia {
        width: 100%;
        margin-left: 0; } }
  .fifth h1 {
    margin-top: 5%;
    position: relative;
    margin-left: 20%;
    color: #e5e5e5;
    font-family: Montserrat;
    font-size: 1.5rem;
    line-height: 3.5vw; }
    @media only screen and (max-width: 600px) {
      .fifth h1 {
        line-height: 30px;
        margin-left: 1%;
        font-size: 18px; }
        .fifth h1 img {
          width: 8%; } }
  .fifth img {
    position: relative;
    width: 100%;
    height: auto; }
  .fifth img.figma {
    width: 25px;
    margin-right: 8%; }
    @media only screen and (max-width: 600px) {
      .fifth img.figma {
        width: 15px;
        margin-right: 5%; } }
  .fifth a {
    position: relative;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none; }
    .fifth a:hover h2 {
      color: #E8513D; }
    @media only screen and (max-width: 600px) {
      .fifth a {
        margin-top: 15%;
        margin-bottom: 15%; } }
  .fifth #figma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 38%;
    margin-right: 38%;
    border: solid 1px;
    padding: 12px;
    background-color: #181134;
    border-radius: 100px;
    text-decoration: none; }
    @media only screen and (max-width: 600px) {
      .fifth #figma {
        padding: 5px;
        margin-left: 10%;
        margin-right: 10%; } }
  .fifth .figma {
    display: inline-block; }
  .fifth h2 {
    color: #e5e5e5;
    font-family: Questrial;
    font-size: 20px;
    font-weight: 1000;
    margin-top: 3%; }

.sixth {
  background-color: #181134; }
  .sixth h3 {
    position: relative;
    margin-left: 20%;
    color: #E8513D;
    font-family: Montserrat;
    font-size: 2rem;
    line-height: 3.5vw; }
    .sixth h3 img {
      width: 2.8%; }
    @media only screen and (max-width: 600px) {
      .sixth h3 {
        line-height: 30px;
        margin-left: 1%;
        font-size: 20px; }
        .sixth h3 img {
          width: 8%; } }
  .sixth .row {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 10%; }
    @media only screen and (max-width: 600px) {
      .sixth .row {
        margin-left: 0%;
        margin-right: 0%; } }
  .sixth h4 {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    color: #e5e5e5;
    font-family: Questrial;
    font-size: 1.3rem;
    line-height: 30px; }
    @media only screen and (max-width: 600px) {
      .sixth h4 {
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
        line-height: 3.5vh; } }
  .sixth li {
    position: relative;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    color: #181134;
    font-family: Questrial;
    font-size: 1.3rem;
    line-height: 30px; }
    @media only screen and (max-width: 600px) {
      .sixth li {
        margin-top: 5vh;
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
        line-height: 3.5vh; } }
  .sixth img#ia {
    position: relative;
    width: 70%;
    margin-left: 15%;
    height: auto; }
    @media only screen and (max-width: 600px) {
      .sixth img#ia {
        width: 100%;
        margin-left: 0; } }
  .sixth h1 {
    margin-top: 5%;
    position: relative;
    margin-left: 20%;
    color: #e5e5e5;
    font-family: Montserrat;
    font-size: 1.5rem;
    line-height: 3.5vw; }
    @media only screen and (max-width: 600px) {
      .sixth h1 {
        line-height: 30px;
        margin-left: 1%;
        font-size: 18px; }
        .sixth h1 img {
          width: 8%; } }
  .sixth img {
    position: relative;
    width: 100%;
    height: auto; }
  .sixth img.figma {
    width: 25px;
    margin-right: 8%; }
    @media only screen and (max-width: 600px) {
      .sixth img.figma {
        width: 15px;
        margin-right: 5%; } }
  .sixth a {
    position: relative;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none; }
    .sixth a:hover h2 {
      color: #E8513D; }
    @media only screen and (max-width: 600px) {
      .sixth a {
        margin-top: 15%;
        margin-bottom: 15%; } }
  .sixth #figma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 38%;
    margin-right: 38%;
    border: solid 1px;
    padding: 12px;
    background-color: #e5e5e5;
    border-radius: 100px;
    text-decoration: none; }
    @media only screen and (max-width: 600px) {
      .sixth #figma {
        padding: 5px;
        margin-left: 10%;
        margin-right: 10%; } }
  .sixth .figma {
    display: inline-block; }
  .sixth h2 {
    color: #181134;
    font-family: Questrial;
    font-size: 20px;
    font-weight: 1000;
    margin-top: 3%; }
  .sixth #gif {
    position: relative;
    width: 24%;
    margin-left: 38%;
    height: auto; }
    @media only screen and (max-width: 600px) {
      .sixth #gif {
        width: 100%;
        margin-left: 0; } }

footer {
  position: relative;
  text-align: center;
  background-color: #e5e5e5;
  z-index: 999;
  color: #272727; }
