* {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none; }
  * h4, * h5 {
    font-family: Josefin Sans;
    color: #272727; }
  * p {
    font-family: sans-serif; }

html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0; }

.navbar {
  position: fixed;
  padding-top: 25px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: #e5e5e5;
  font-size: 15px; }
  .navbar li {
    padding: 5px; }

.container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center; }

.custom-control.custom-switch.sun.sticky-top {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center; }

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: solid 1px black; }

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 3px;
  background-color: #272727;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

input.danger:checked + .slider {
  background-color: #9E00FF;
  border: solid 1px #e5e5e5; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px); }

.slider.round {
  border-radius: 100px;
  cursor: pointer;
  -webkit-box-shadow: 0.1vw 0.3vh 5vw #e5e5e5;
  box-shadow: 0.1vw 0.3vh 5vw #e5e5e5; }

.slider.round:before {
  border-radius: 50%; }

a.navbar-brand #icon, a.navbar-brand #icon, a.navbar-brand h4, a.navbar-brand .custom-control.custom-switch.sun.sticky-top {
  display: inline; }

a.navbar-brand #icon {
  position: relative;
  width: 20%;
  top: -0.1rem; }

body {
  background-color: #e5e5e5; }

h4 {
  color: #272727;
  font-size: 1.5rem; }

h5 {
  color: #272727; }
  h5:hover {
    color: #9E00FF; }

.first {
  position: relative; }
  @media only screen and (max-width: 600px) {
    .first {
      margin-top: 3rem; } }

.first, .second, .third, .fourth {
  width: 100vw;
  height: auto;
  position: relative;
  padding: 0;
  z-index: 1; }

.second, .third, .fourth {
  margin-top: 10vw; }

.content {
  position: relative;
  z-index: 1; }

.first .content, .third .content {
  position: relative;
  text-align: right;
  margin-right: 5%;
  position: relative;
  top: -15vw; }
  .first .content h1, .third .content h1 {
    font-size: 1.5rem; }
  .first .content p, .third .content p {
    font-size: 1rem; }

@media only screen and (max-width: 600px) {
  .first .content, .third .content {
    padding: 30px;
    margin-right: 10px;
    top: 0px; }
    .first .content h1, .third .content h1 {
      font-size: 20px;
      color: #272727; }
    .first .content p, .third .content p {
      font-size: 15px;
      color: #272727; } }

.second .content {
  text-align: left;
  margin-left: 5vw;
  position: relative;
  width: 50vw;
  height: auto;
  top: -28vw; }
  .second .content h1 {
    font-size: 1.5rem; }
  .second .content p {
    font-size: 1rem; }

@media only screen and (max-width: 600px) {
  .second .content {
    width: 100vw;
    margin-left: 0px;
    padding: 30px;
    top: 0px; }
    .second .content h1 {
      font-size: 20px;
      color: #272727; }
    .second .content p {
      font-size: 15px;
      color: #272727; } }

.fourth .content {
  text-align: left;
  margin-left: 5vw;
  position: relative;
  width: 50vw;
  height: auto;
  top: -33vw; }
  .fourth .content h1 {
    font-size: 1.5rem; }
  .fourth .content p {
    font-size: 1rem; }

@media only screen and (max-width: 600px) {
  .fourth .content {
    width: 100vw;
    margin-left: 0px;
    padding: 30px;
    top: 0px; }
    .fourth .content h1 {
      font-size: 20px;
      color: #272727; }
    .fourth .content p {
      font-size: 15px;
      color: #272727; } }

h1, p {
  color: #e5e5e5; }

p {
  font-family: questrial; }

#one, #two, #three, #four {
  width: 100%; }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 15px;
    top: 0px; } }

a:link {
  text-decoration: none; }

@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    opacity: .25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    opacity: .25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

#loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 10;
  background-color: #e5e5e5;
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear; }

#completed {
  z-index: 1; }

.spinner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  jusitfy-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  margin: 0; }

.pulse-container {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9E00FF; }

.pulse-bubble-1 {
  -webkit-animation: pulse .4s ease 0s infinite alternate;
  animation: pulse .4s ease 0s infinite alternate; }

.pulse-bubble-2 {
  -webkit-animation: pulse .4s ease .2s infinite alternate;
  animation: pulse .4s ease .2s infinite alternate; }

.pulse-bubble-3 {
  -webkit-animation: pulse .4s ease .4s infinite alternate;
  animation: pulse .4s ease .4s infinite alternate; }

footer {
  position: relative;
  text-align: center;
  background-color: #e5e5e5;
  z-index: 999;
  color: #272727;
  margin-top: -4vw; }
  @media only screen and (max-width: 600px) {
    footer {
      margin-top: -4vw; } }

hr {
  position: relative;
  margin-left: 6%;
  margin-right: 6%; }
