@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* h4, * h5 {
  font-family: Josefin Sans; }

* p {
  font-family: sans-serif; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth; }

.container-fluid {
  padding-top: 7vw;
  padding-bottom: 7vw; }

.navbar {
  position: fixed;
  padding-top: 25px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  background-color: #e5e5e5; }
  .navbar li {
    padding: 5px; }

.container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center; }

.custom-control.custom-switch.sun.sticky-top {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center; }

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: solid 1px black; }

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 3px;
  background-color: #272727;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

input.danger:checked + .slider {
  background-color: #9E00FF;
  border: solid 1px #e5e5e5; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px); }

.slider.round {
  border-radius: 100px;
  cursor: pointer;
  -webkit-box-shadow: 0.1vw 0.3vh 5vw #e5e5e5;
  box-shadow: 0.1vw 0.3vh 5vw #e5e5e5; }

.slider.round:before {
  border-radius: 50%; }

h4 {
  color: #272727;
  font-size: 1.5rem; }

h5 {
  color: #272727; }
  h5:hover {
    color: #9E00FF; }

body {
  line-height: 1.8;
  background-color: #e5e5e5; }

.first {
  margin-top: 8rem;
  position: relative;
  width: 100%;
  height: auto; }
  .first img {
    width: 15rem;
    height: 15rem;
    border: solid 0.2rem #272727;
    border-radius: 100%; }
    @media only screen and (max-width: 600px) {
      .first img {
        width: 50vw;
        height: 50vw; } }
  .first p {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.8;
    font-size: 1.4rem;
    font-family: Questrial;
    font-weight: 300;
    text-align: justify; }
    @media only screen and (max-width: 600px) {
      .first p {
        font-size: 18px;
        text-align: justify; } }
  .first .svg {
    display: inline-block; }
  .first svg {
    fill: #272727;
    width: 2rem;
    height: 2rem; }
  .first a {
    padding: 2%; }

#mail:hover {
  width: 1.8rem;
  height: 1.8rem;
  fill: #9E00FF; }

#lin {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  #lin:hover {
    fill: #0073b0;
    width: 1.8rem;
    height: 1.8rem; }

#ins {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  #ins:hover {
    width: 1.8rem;
    height: 1.8rem;
    fill: url(#paint0_radial);
    fill: url(#paint1_radial); }

#spotify {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }
  #spotify:hover {
    fill: #1ed760;
    width: 1.8rem;
    height: 1.8rem; }

a.cta:link {
  text-decoration: none !important; }

.second {
  margin-top: 3vw;
  padding-bottom: 5vmin; }
  @media only screen and (max-width: 600px) {
    .second {
      margin-top: 10vw; } }
  .second a.cta {
    font-size: 1.5vw;
    padding: 1vw;
    padding-left: 5vw;
    padding-right: 5vw;
    color: #272727;
    font-family: Questrial;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 6px 2px #c3c3c3, -6px -6px 10px #ffffff;
    box-shadow: 6px 6px 6px 2px #c3c3c3, -6px -6px 10px #ffffff; }
    .second a.cta:hover {
      -webkit-box-shadow: inset 6px 6px 6px 2px #c3c3c3, inset -6px -6px 10px #ffffff;
      box-shadow: inset 6px 6px 6px 2px #c3c3c3, inset -6px -6px 10px #ffffff; }
    @media only screen and (max-width: 600px) {
      .second a.cta {
        padding: 3vw;
        padding-left: 10vw;
        padding-right: 10vw;
        font-size: 5vw; } }

.third {
  position: relative;
  padding-bottom: 15vw;
  width: 100%;
  height: auto;
  background: url(../img/bgg.svg);
  background-position: 0px 0px;
  background-size: cover;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .third h3 {
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 2vw; }
  .third h4 {
    font-family: Questrial;
    font-size: 1.3vw; }
  .third p {
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.3vw;
    text-align: justify;
    font-style: italic; }
  .third .mirrow {
    margin-top: 10vw;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    padding-top: 30px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); }
    @media only screen and (max-width: 600px) {
      .third .mirrow p {
        font-size: 18px; } }
  .third img {
    width: 13vw;
    height: auto;
    margin-left: 30vw; }
    @media only screen and (max-width: 600px) {
      .third img {
        position: relative;
        right: 10%;
        width: 30vw;
        height: auto;
        margin-left: 10vw; } }
  .third #gorman {
    padding-top: 5vw;
    left: -3%; }
    @media only screen and (max-width: 600px) {
      .third #gorman {
        position: relative;
        left: -10%;
        width: 20vw;
        height: auto; }
        .third #gorman h3 {
          font-size: 20px; }
        .third #gorman h4 {
          font-size: 15px; } }
  .third a.nurobodi {
    font-size: 1.5vw;
    padding: 1vw;
    color: #e5e5e5;
    background-color: #9E00FF;
    font-family: Fredoka One;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%; }
    .third a.nurobodi:hover {
      color: #9E00FF;
      background-color: #e5e5e5; }
    @media only screen and (max-width: 600px) {
      .third a.nurobodi {
        padding: 2vw;
        padding-left: 3vw;
        padding-right: 3vw;
        font-size: 3.5vw; } }

a.nurobodi:link {
  text-decoration: none !important; }

footer {
  position: relative;
  text-align: center;
  background-color: #e5e5e5;
  z-index: 999;
  color: #272727; }
